<div class="forgot-password-verify-container">
  <div class="form-container">
    <h2 class="forgot-password-verify-title">VERIFICATION REQUIRED</h2>

    <form>
      <div class="input-container">
        <span class="message">To continue, complete this verification step. We’re to sent a One Time Password (OTP) to the email or mobile number you inserted. Please enter below it.</span>
        <input placeholder="Security Code" name="security_code" required>

        <div class="button-container">
          <button class="button" type="button" (click)="navigateToForgotPasswordReplace()">CONTINUE</button>
        </div>

        <div class="input-container">
          <span class="message-resend">Resend it</span>
        </div>
      </div>
    </form>

  </div>
</div>

<app-footer></app-footer>
