<app-navbar></app-navbar>

<div class="series-container">
  <div class="header-container">

    <div class="title-container">
      <h1 class="title">SERIES</h1>
    </div>

    <div class="categories-container">
      <div class="categories">
          <button *ngFor="let category of categories">
             {{category}}
          </button>
      </div>
    </div>
  </div>

  <div class="series-grid-container">
    <div class="series-grid">
      <div class="series-card" *ngFor="let series of seriesList">
        <img [src]="series.image" [alt]="series.title" class="series-image" />
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
