.forgot-password-create-container {
  min-height: 140vh;
  background-image: url('/assets/images/Designer (2).png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center 20%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.form-container {
  background: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 700px;
  height: 540px;
  margin-top: 150px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
}

.forgot-password-create-title {
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #00EDD9;
  padding: 10px 20px;
  display: inline-block;
  text-shadow: 0 0 5px #00EDD9, 0 0 5px #00EDD9, 0 0 2px #00EDD9;
  -webkit-text-stroke: 1px #182536;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #00EDD9;
  border-radius: 5px;
  background: #1E1D1B;
  color: #59FDFE;
  font-family: "Exo 2";
}

input::placeholder{
  color: #59FDFE;
}

.button {
  width: 50%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: cyan;
  color: black;
  font-family: "Exo 2";
}

.button:hover{
  background: #2e7777;
}

.signup-text {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.forgot-password {
  display: block;
  margin: 10px 0;
  color: white;
  text-decoration: none;
}

.message{
  color:white;
  font-weight: bold;
  font-size: 24px;
}

.message-resend{
  color:#59FDFE;
  font-weight: bold;
  font-size: 24px;
}
