<app-navbar></app-navbar>

<div class="dashboard-container">
  <div class="title-container">
    <h2 class="dashboard-title">Admin Dashboard</h2>
  </div>

  <div class="no-users-message" *ngIf="users.length === 0">
    <p>No users available.</p>
  </div>

  <div class="table-container" *ngIf="users.length > 0">
    <div class="button-container">
      <button class="btn-futuristic btn-promote" (click)="togglePromotionMode()">
        {{ promotionMode ? 'Cancel Promotion' : 'User to Admin' }}
      </button>
      <button class="btn-futuristic btn-add" (click)="addUser()">Add User</button>
    </div>

    <table class="dashboard-table">
      <thead>
      <tr>
        <th *ngIf="promotionMode">Select</th>
        <th>#</th>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Role</th>
        <th>Action</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let user of users; let i = index" [class.selected]="selectedUsers.includes(user.id)">
        <td *ngIf="promotionMode">
          <input type="checkbox" (change)="toggleUserSelection(user)" [checked]="selectedUsers.includes(user.id)">
        </td>
        <td>{{ i + 1 }}</td>
        <td>{{ user.fullName }}</td>
        <td>{{ user.phone_number }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="deleteUser(user.id)" [disabled]="!user.id">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <button *ngIf="promotionMode" class="btn-futuristic btn-confirm" (click)="promoteSelectedUsers()" [disabled]="selectedUsers.length === 0">
      Confirm Promotion
    </button>
  </div>
</div>

<app-footer></app-footer>
