<div class="forgot-password-container">
  <div class="form-container">
    <h2 class="forgot-password-title">PASSWORD HELP</h2>

    <form>
      <div class="input-container">
        <span class="message">Enter the email adress or mobile phone number associated with your RulesTV account.</span>
        <input placeholder="Email or Mobile Number" name="email/phone" required>
      </div>

      <div class="button-container">
        <button class="button" type="button" (click)="navigateToForgotPasswordVerify()">CONTINUE</button>
      </div>
    </form>

  </div>
</div>

<app-footer></app-footer>
